.container {
    width: 300px;
    height: 250px;
    background-color: lightblue;
    overflow-y: scroll;
  }
  * {
    margin: 0;
  }
  .box {
    width: 100px;
    height: 100px;
    position: sticky;
    top: 10px;
    left: 25px;
    background-color: lightcoral;
   
  }